.header {
    height: 95vh;
    background-image: url("../img/alt-header2.jpg");
    background-size: cover;
    background-position: top;
    position: relative;

    &__logo-box {
        position: absolute;
        // 1920x1080
        // top: 43rem;
        // right: 55rem;

        top: 33rem;
        right: 40rem;
        animation: moveInLeft 1s;
    }

    &__logo {
        // 1920x1080
        // height: 35rem;

        // 1440x900
        height: 27rem;
        transform: rotate(21deg);
    }

    &__text-box {
        font-size: $default-font-size;
        font-weight: 100;
        width: 40vh;
        text-justify: auto;
        font-style: italic;

        position: absolute;
        // 1920x1080
        // bottom: 17rem;
        // right: 10rem;
        bottom: 15rem;
        right: 7rem;

        animation: moveInBottom 1s;
    }
}